<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

<form name="myform" method="post" action="feedback.php">
<input type="hidden" name="email_ad" value="your email id goes here.">
<input type="hidden" name="subject" value="put your subject here.">
<input type="hidden" name="redirect_page" value="thankyou.html">
<p> Name : <input type="Text" name="Vname" size="25">
<br>
<p>Email : <input type="Text" name="Vemail" size="25">
<br>
<p> Comments : <textarea cols="25" rows="5" name="Comms"></textarea>
<br>
<input type="submit" name="S1" value="Submit">
<input type="reset" name="R1" value="Reset">
</form>

</body>

</html>