<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>@open arms.. .. ..</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta content = "Aditya Sakhuja web site designing and data processing and web internet search enthusiast joining Yahoo! search. 
     He is a graduate from Georgia Institute of Technology"  name = "description">
  
  <meta content="Aditya Sakhuja" name="author">
  <meta content=" global" name="distribution">
  <meta content="1 days" name="revisit-after">  
  <meta content="Aditya Sakhuja, UNICEF, Web Search,data processing, databases, hiranandani gardens powai mumbai, sinhgad college of engineering, LTIT, SCOE, Mission College, CA" name="keywords">
  <meta content = "INDEX, FOLLOW" name ="robots">
  
  <!-- **** layout stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="style/style.css" />

  <!-- **** colour scheme stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="style/orange.css" />
</head>

<body>
  <div id="main">
    <div id="links">
      <!-- **** INSERT LINKS HERE **** -->
     | <a href="/feedback/feedback.html">feedback</a> |
   </div>
   <div id="logo"><h1>I walk the lonely road.. <br> The only one that I have ever known ..</h1>
   <h2>&quot; ~ .....&quot;</
   h2></div>
     <div align ="center">
       <a href="main.php?pgid=2"><img src="images/me4.jpg" width = 80% height = 80% /></a>
 	 </div>
	 <div id="footer">
     </div>
 </div>
 </body>
</html>