         <h1>introduction</h1>
         <!-- **** INSERT PAGE CONTENT HERE **** -->
         <p>
		 	 	This is the place to share and learn. This project is in at its infancy and generic in nature. Please post your <a mailto:comments@adityasakhuja.com>feedback and ideas</a> to expand the Open arms project.
				 <br>As aptly quoted by Michael Abrash; "None of us learn in a vacuum; we all stand on the shoulders of giants such as Wirth and Knuth and thousands of others. Lend your shoulders to building the future! "
         </p>